.nav , footer{
   background-color: var(--primary);
   padding: 1rem 0;
}
.nav__left > a > h1{
   letter-spacing: 1px;
}
.nav__right > div > a > span {
   margin-left: 5px;
}
.nav__right > div > a:hover{
   color: var(--light-grey);
}

/* Style The Dropdown Button */
.dropbtn {
  color: white;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary);
  min-width: 160px;
  color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #16171f}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
