.pagination > a {
   color : var(--dark);
   border : 1px solid var(--dark);
   padding: .5rem 1rem;
   margin-left: .5rem;
   cursor: pointer;
   background-color: transparent;
}

.pagination > a:hover{
   color: rgb(243, 148, 6);
}

.pagination > a.active{
   background-color:var(--dark);
   border-color: transparent;
   color: var(--pure);
}